@import '../../variables';

.header {
   background: #000;
}

.container {
   @include container;
   padding-top: toRem(20);
   padding-bottom: toRem(20);
   display: flex;
   justify-content: space-between;
   align-items: center;

   @media (max-width: $tablet) {
      padding-top: toRem(12);
      padding-bottom: toRem(12);
      gap: toRem(4);
   }

   @media (max-width: $mobile) {
      padding-top: toRem(16);
      padding-bottom: toRem(16);
   }
}