@import '../../variables';

.inputWrapper {
   flex: 2 1 100%;
}

.input {
   display: block;
   width: 100%;
   height: toRem(56);
   margin-bottom: toRem(4);
   border: none;
   background-color: $formGrey;
   padding: toRem(16) toRem(20);
   font-size: toRem(16);
   line-height: toRem(24);
   font-weight: 400;
   color: rgba(255, 255, 255, 1);
   &:focus {
      outline: none;
   }
}

.inputError {
   display: block;
   width: 100%;
   height: toRem(56);
   margin-bottom: toRem(4);
   border: none;
   background-color: $formError;
   padding: toRem(16) toRem(20);
   font-size: toRem(16);
   line-height: toRem(24);
   font-weight: 400;
   color: rgba(255, 255, 255, 1);
   &:focus {
      outline: none;
   }
}

.textArea {
   width: 100%;
   height: toRem(156);
   border: none;
   background-color: $formGrey;
   font-size: toRem(16);
   padding: toRem(16) toRem(20);
   line-height: toRem(24);
   font-weight: 400;
   color: rgba(255, 255, 255, 1);
   &:focus {
      outline: none;
   }

}
.textAreaError {
   width: 100%;
   height: toRem(156);
   border: none;
   background-color: $formError;
   font-size: toRem(16);
   padding: toRem(16) toRem(20);
   line-height: toRem(24);
   font-weight: 400;
   color: rgba(255, 255, 255, 1);
   &:focus {
      outline: none;
   }

}

.errorField {
   visibility: visible;
   opacity: 1;
   font-size: toRem(12);
   font-weight: 400;
   line-height: toRem(16);
   color: $error;
}
.emptyField {
   visibility: hidden;
   opacity: 0;
   font-size: toRem(12);
   font-weight: 400;
   line-height: toRem(16);
}
