//----- vars -----//

$mainBlack: #181818;
$mainRed: #ec3f3f;
$mainGrey: #343338;
$mainRedBorder: rgba(236, 63, 63, 0.8);
$mainRedOpacity: rgba(236, 63, 63, 0.15);
$mainRedHover: #ff1e1e;
$mainTransition: all 0.4s ease-in 0s;
$mainShadow: rgb(255, 30, 30, 0.5) 0px 2px 24px 0;

//----- func & mixin -----//

@function toRem($value) {
   $remValue: calc($value / 16) + rem;
   @return $remValue;
}

$pc: toRem(1440);
$tablet: toRem(768);
$mobile: toRem(420);

@mixin container {
   margin: 0 auto;
   padding: 10px 10px;
   max-width: 1220px;

   @media (max-width: $tablet) {
      max-width: 660px;
   }

   @media (max-width: $mobile) {
      max-width: 400px;
   }


}
@mixin title {
   font-size: toRem(40);
   font-weight: 600;
   line-height: toRem(48);

   @media (max-width: $tablet) {
      font-size: toRem(32);
      line-height: toRem(40);
   }

   @media (max-width: $mobile) {
      font-size: toRem(28);
      line-height: toRem(36);
   }

}



// :root {
//    --max-width: 1100px;
//    --border-radius: 12px;
//    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
//       "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
//       "Fira Mono", "Droid Sans Mono", "Courier New", monospace;


//    --background-start-rgb: 214, 219, 220;
//    --background-end-rgb: 255, 255, 255;

//    --primary-glow: conic-gradient(from 180deg at 50% 50%,
//          #16abff33 0deg,
//          #0885ff33 55deg,
//          #54d6ff33 120deg,
//          #0071ff33 160deg,
//          transparent 360deg);
//    --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
//          rgba(255, 255, 255, 0));

//    --tile-start-rgb: 239, 245, 249;
//    --tile-end-rgb: 228, 232, 233;
//    --tile-border: conic-gradient(#00000080,
//          #00000040,
//          #00000030,
//          #00000020,
//          #00000010,
//          #00000010,
//          #00000080);

//    --callout-rgb: 238, 240, 241;
//    --callout-border-rgb: 172, 175, 176;
//    --card-rgb: 180, 185, 188;
//    --card-border-rgb: 131, 134, 135;
// }