@import '../../variables';

.poster {
   background-image: url('../../../../public/poster-movie.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   margin-bottom: toRem(72);

   @media (max-width: $tablet) {
      background-size: cover;
      background-position: 70% center;
      margin-bottom: toRem(64);
   }
   @media (max-width: $mobile) {
      margin-bottom: toRem(16);
   }
}

.container {
   @include container;
   padding-top: toRem(104);
   padding-bottom: toRem(100);
   font-weight: 600;

   @media (max-width: $tablet) {
      padding-top: toRem(60);
      padding-bottom: toRem(76);
   }

   @media (max-width: $mobile) {
      padding-top: toRem(56);
      padding-bottom: toRem(73);
   }
}

.content {
   max-width: toRem(424);

   @media (max-width: $tablet) {
      max-width: toRem(370);
   }

   @media (max-width: $mobile) {
      max-width: toRem(280);
   }
}

.title {
   font-size: toRem(56);
   font-weight: 600;
   line-height: 1;
   padding-bottom: toRem(24);

   @media (max-width: $tablet) {
      font-size: toRem(40);
      padding-bottom: toRem(16);
   }

   @media (max-width: $mobile) {
      font-size: toRem(32);
      line-height: toRem(38);
      padding-bottom: toRem(6);
   }
}

.text {
   font-weight: 400;
   line-height: toRem(20);
   padding-bottom: toRem(40);

   @media (max-width: $tablet) {
      padding-bottom: toRem(32);
   }
}