@import '../../../variables';

.btn {
   display: inline-block;
   font-size: 1rem;
   line-height: 1.5;
   font-weight: 600;
   background-color: $mainRed;
   padding: 1rem 2rem 1rem 2rem;
   cursor: pointer;
   transition: $mainTransition;

   @media (any-hover:hover) {
      &:hover {
         background-color: $mainRedHover;
         box-shadow: $mainShadow;
      }
   }
}

.btnReverse {
   display: inline-block;
   font-size: 1rem;
   line-height: 1.5;
   font-weight: 600;
   background-color: $mainRedOpacity;
   border: 1px solid $mainRedBorder;
   padding: 1rem 2rem 1rem 2rem;
   cursor: pointer;
   transition: $mainTransition;

   @media (any-hover:hover) {
      &:hover {
         background-color: $mainRedHover;
         box-shadow: $mainShadow;
      }
   }
}