@import '../../../variables';

.wrapper {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   gap: toRem(20);
   @media (max-width: $tablet) {
      gap: toRem(16);
   }

   @media (max-width: $mobile) {
      gap: toRem(12);
   }

}

.logo {
   fill: red;
}

.img {
   filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(13%) hue-rotate(237deg) brightness(104%) contrast(104%);

   @media (any-hover:hover) {
      &:hover {
         transition: $mainTransition;
         filter: brightness(0) saturate(100%) invert(26%) sepia(50%) saturate(6917%) hue-rotate(350deg) brightness(116%) contrast(106%);
      }
   }
}