@import '../../variables';

.movieFrame {
   margin-bottom: toRem(72);

   @media (max-width: $tablet) {
      margin-bottom: toRem(64);
   }

   @media (max-width: $mobile) {
      margin-bottom: toRem(48);
   }
}

.container {
   @include container;

}

.title {
   @include title;
   margin-bottom: toRem(40);

   @media (max-width: $tablet) {
      margin-bottom: toRem(24);
   }
}

.gridConatainer {
   margin-bottom: toRem(32);
   @media (max-width: $tablet) {
      margin-bottom: toRem(24);
   }
}

.gridTemplate {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(1, 1fr);
   gap: toRem(24);
   grid-template-areas:
      "main main first second"
      "main main third fourth"
   ;
   margin-bottom: toRem(24);

   @media (max-width: $tablet) {
      gap: toRem(16);
      margin-bottom: toRem(16);
   }

   @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: none;
      gap: unset;
      row-gap: toRem(16);
   }
}

.subGridTemplate {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: toRem(24);
   // padding-bottom: toRem(32);

   @media (max-width: $tablet) {
      gap: toRem(16);
      // padding-bottom: toRem(24);
   }

   @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: unset;
      row-gap: toRem(16);
   }
}

.mainItem {
   grid-area: main;

   @media (max-width: $mobile) {
      grid-area: unset;
   }
}

.firstItem {
   grid-area: first;

   @media (max-width: $mobile) {
      grid-area: unset;
   }
}

.secondItem {
   grid-area: second;

   @media (max-width: $mobile) {
      grid-area: unset;
      display: none;

   }

}

.thirdItem {
   grid-area: third;

   @media (max-width: $mobile) {
      grid-area: unset;
      display: none;
   }
}

.fourthItem {
   grid-area: fourth;

   @media (max-width: $mobile) {
      grid-area: unset;
   }

}