@import '../../variables';

.container {
   @include container;
   padding-top: toRem(40);
   padding-bottom: toRem(88);
   display: flex;
   justify-content: space-between;
   width: 100%;
   gap: toRem(20);
}